<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>ERROR </title>
</head>
<body class="bg-warning">
<div class="container">
    <h1 class="text-center mt-5">OOPS CLIENT ERROR</h1>
    <p class="text-center">
        <a th:href="@{/}">Back to home</a>
    </p>

    <div th:if="${exceprion}">
        <p th:text="${exception}"></p>
        <p th:text="${trace}"></p>
    </div>
</div>
</body>
</html>