<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Pizzas</title>
</head>
<body>
<h1 class="text-center">Pizzas</h1>


<div class="container">
    <a th:href="@{/pizzas/create}" class="btn btn-success text-center btn-sm">ADD PIZZA</a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${list}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{price}"></td>

            <td>
                <a th:href="@{|/pizzas/*{id}|}" class="btn btn-primary btn-sm"><i
                        class="fa-solid fa-pizza-slice"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>